<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package 
    Name="SpeechSynth" 
    Manufacturer="CoopaTech"
    Compressed="true"
    Scope="perUserOrMachine"
    Version="1.0.0.0" 
    UpgradeCode="c9cbd32c-0db8-40e5-a43c-df6f30a1d7d7">

    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="SpeechSynth.Net">
          <Directory Id="Images" Name="Images">
          </Directory>
          <Directory Id="runtimes" Name="runtimes">
            <Directory Id="TargetRuntime" Name="win-x64">
            </Directory>
          </Directory>
        </Directory>
    </StandardDirectory>
    
    
     
      

    <Feature Id="MainComponent">
		<Component Id="ExeComp" Guid="823ee2b2-2523-4104-9e59-3bb4fb83ce30" >
			<File Source="./SpeechSynth/bin/Release/net8.0-windows/SpeechSynth.exe" Name="ExeFile" KeyPath="yes" />
		</Component>
		<Component Subdirectory="TargetRuntime" Guid="b8f873d2-9e6c-401d-829e-cf11c039c111">
			<File Source=".\SpeechSynth\bin\Release\net8.0-windows\runtimes\win-x64\whisper.dll" Name="whisperRunTime" />
		</Component>
		<Component Id="dllComp" Guid="823ee2b2-2523-4104-9e59-3bb4fb83ce30">
			<Files Include=".\SpeechSynth\bin\Release\net8.0-windows\*.dll" Directory="INSTALLFOLDER" Name="DllFiles" />
		</Component>
    </Feature>

  </Package>
</Wix>